---
title: Artist Alley
---

%h2 Artist Alley

:markdown
  We are pleased to announce that we will be introducing our first-ever **Artist
  Alley** at Furlandia 2017! The Artist Alley is a place for artists to showcase
  their work without having to spend the entire weekend sitting at a table in the
  Dealer's Den, for artists who are just getting started in the furry world, or
  for those who were unable to nab one of the coveted tables within our Dealers'
  Den.


  The Artist Alley is tentatively scheduled to be in the Mt. Hood Foyer outside
  the main theater, one of the busiest areas of our convention.

.dealers-times
  .row
    .dealer-label
      Friday
    .dealer-bar.col-sm-5.col-sm-offset-1
      11:30am - 4:30pm
  .row
    .dealer-label
      Saturday
    .dealer-bar.col-sm-7
      10am - 5pm
  .row
    .dealer-label
      Sunday
    .dealer-bar.col-sm-7
      10am - 5pm

:markdown
  ### Sign-up

  * **When**: 12:00am &mdash; 8:45am on each day
  * **Where**: Con Ops (Garden A)
  * **$15 per day, cash only**

  You must sign up on each day that you wish to sell in the Artist Alley. Tables
  are granted on a first-come first-serve basis and cannot be reserved in
  advance.

  After signing up, line up at the designated location at the Artist Alley
  entrance before the time shown below to check in.

  * Friday: 10:30am
  * Saturday: 9:00am
  * Sunday: 9:00am

  ### Table assignment

  Each day at check-in time, the sign-up list will be brought to the Artist
  Alley. Tables will be assigned in order from the list until all spaces are
  filled.

  When your name is called, simply pay the $15 table fee and get your table
  number. You will get a receipt after making your payment. Keep your receipt;
  it is needed for "in/out" privileges.

  If you sign up for a space but do not claim it, the space will be
  given to the next artist on the list.

  Please do not sit at or set up at the tables before being invited to do so by
  Artist Alley staff.

  ### Selling

  Furlandia does not take responsibility for your belongings. Please do not
  leave your merchandise or personal items unattended.

  If you need to leave temporarily, check out with Artist Alley staff and let
  them know when you'll be back. As long as you have your receipt for that day,
  you can come back and keep selling for the rest of the day without paying
  again.

  ### Content rules

  You must abide by the Dealers' Den rules for content:

  *    Everything you display or sell must be your own work.
  *    Everything you display directly must be PG-13 rated.
       You may show adult material to individual attendees after checking their
       badges to ensure that they are of legal age.

       An item is not PG-13 if it:

       - Contains exposed genitalia or representations thereof
       - Depicts a sexual act
       - Depicts realistic violence where the victim is shown to be seriously
         injured
       - Depicts any other content that is unsuitable for younger viewers as
         determined by federal or state law

       **Items whose possession, sale, or transportation across state borders
       constitutes a criminal act are strictly prohibited.** Posession, display,
       or sale of any such item will result in immediate removal from the Artist
       Alley and a disciplinary meeting with the Chair.

